body{
    background-color: black;
    text-align: center;
}
h1{
    color: aliceblue;
    text-align: center;

}
h2{
    color: aliceblue;
    text-align:center ;
}
.contenido p{
    height: 75%;
    color: aliceblue;
    text-align: justify;
}

.final small{
    color: rgb(236, 240, 243);
    text-align: center;
}
.final h6{
    color: aliceblue;
    text-align: center;
}
.ph a{
    color: aliceblue;
    text-align: center;

}